body{
    font-family: 'Times New Roman', Times, serif;
}

label{
    font-size: 2rem;
}



.Img{
    height: 200px;
    
    background-image:url("h1.jpg");
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;

}